@import "../../01-atoms/01-colors/01-colors";
@import "../../01-atoms/02-typography/01-fonts";

.sfgov-resource-card {
  @include rubik;
  background: #fff;
  text-decoration: none;
  color: #1c3e57;
  border-radius: 8px;
  display: table-cell;
  padding: 20px;
  max-width: 33%;
  border: 3px solid #4f66EE;
  h5 {
    @include rubik;
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    margin: 0 0 10px 0;
    text-decoration: underline;
    color: #4f66EE;
  }
  &:visited {
    color: #4f66EE;
  }
  p {
    padding: 0;
    margin: 0;
    color: #1C3E57;
  }
  &.empty {
    visibility: hidden;
  }
}